/* component.css */

/* General styles for Grid components */


/* General wrapper styles for Breadcrumb components */


/* General styles for Button components */


/* General styles for Textarea components */


/* General styles for Date Picker components */


