using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Application.BFFService.Service;
using Application.DataService.Service;
using Application.DataRepository.Service;



namespace Application.DataRepository.Service
{
	$$DataRepoClassesCode$$
}